.place__title {
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    min-width: calc(100vw*(288/320));
    grid-row: 1/2;
    grid-column: 1;
    font-size: 32px;
    line-height: 1.09;
  }
}