.footer {
  margin: 92px 0 24px;
  min-width: calc(100vw*(1184/1280));
  display:  flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .footer {
    min-width: calc(100vw*(928/1024));
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    min-width: calc(100vw*(720/768));
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    min-width: calc(100vw*(186/320));
    margin: 64px calc(100vw*(16/320)) 24px;
    flex-direction: column;
    row-gap: 48px;
    align-self: flex-start;
    align-items: flex-start;
  }
}